body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: #FCFFE7;
    font-family: 'Montserrat', sans-serif;
}
.title-container{
    padding-top: 15%;
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
}
h2{
    font-size: 5rem;
    color: #EB455F;
}
section{
    width: 1000px;
    margin: auto auto;
}
article{
    height: 150px;
    background-color: #ffff;
    width: 100%;
    position: relative;

}

.questions-container{
    margin-top: 80px;
}
.question{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    left: 30px;
    font-size: 2rem;
    letter-spacing: 2px;

}
button{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #BAD7E9;

}

span{
 position: absolute;
}
.answer{
    background-color: #fff;
    margin: 0 0 30px 0;
}
.answer-text{
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
}
.expand{
    max-height: 250px;
    padding: 0 30px 30px 30px;
}
